:root {
 --bs-blue: #037bc0;
 --bs-green: #668800;
}
html {
 font-size: 62.5%;
}
body {
 font-family: "Raleway", sans-serif;
 font-size: 1.6rem;
 line-height: 2;
}
h1,
h2,
h3 {
 font-family: "Playfair Display", serif;
}
h1 {
 font-size: 3.8rem;
}
@media (min-width: 768px) {
 h1 {
  font-size: 5rem;
 }
}

h2 {
 font-size: 3.2rem;
}
@media (min-width: 768px) {
 h2 {
  font-size: 4rem;
 }
}

h3 {
 font-size: 2.4rem;
}
@media (min-width: 768px) {
 h3 {
  font-size: 3rem;
 }
}
/* re escribir colores  */
.text-primary,
.nombre-sitio {
 color: var(--bs-blue) !important;
}
.bg-primary {
 background-color: var(--bs-blue) !important;
}
.btn-success {
 background-color: var(--bs-green) !important;
}

.hero {
 background-image: url(../img/principal.jpg);
 height: 25rem;
 background-size: cover;
 background-position: center center;
}

@media (min-width: 768px) {
 .hero {
  height: 55rem;
 }
}

@media (min-width: 768px) {
 .producto img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
 }
}
.categorias img {
 transition-property: transform;
 transition-duration: 300ms;
}

.categorias img:hover {
 transform: scale(1.2);
}
.galeria li {
 margin-bottom: 1rem;
}
